* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}
header {
  width: 100%;
  height: 134px;
  background-color: #edf2ec;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  height: 50px;
  width: 1220px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}
.logo-img {
  height: 20px;
  width: 20px;
}
.logo h1 {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  line-height: 21px;
}
.nav {
  width: 50%;
  height: 50px;
}
.nav-list {
  width: 452px;
  height: 100%;
  margin: 0;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
}
.nav-link {
  padding: 0;
  line-height: 50px;
  transition: 0.3s;
  text-decoration: none;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: black;
  text-align: center;
}
.nav-list a:hover {
  color: #e06733;
}
main {
  background-color: #ffffff;
}
.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 532px;
  margin: 0 auto;
  padding: 0;
  background-color: #edf2ec;
}
.welcome-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1222px;
  height: 407.36px;
  margin: 0 auto;
  padding: 0;
}
.welcome-section-img {
  width: 448.8px;
  height: 407.36px;
}
.welcome-text {
  width: 549px;
  height: 340px;
  margin: 0;
  padding: 0;
}
.welcome-text h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
}
.colortext {
  color: #499a18;
}
.welcome-text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
}
.welcome-text button {
  color: #000000;
  width: 158px;
  height: 44px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: 2px solid #e06733;
  border-radius: 10px;
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 666px;
  margin: 0 auto;
  padding: 0;
}
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1222px;
  height: 479px;
  margin: 0 auto;
  padding: 0;
}
.about-text {
  width: 605px;
  height: 350px;
  margin: 0;
  padding: 0;
}
.about-text h2 {
  color: #e06733;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  width: 463px;
}
.about-text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  color: #636060;
}
.about-section-img {
  width: 464px;
  height: 479px;
}
.service {
  display: inline-block;
  width: 1440px;
  height: 1300px;
  margin: 0 auto;
  padding: 0;
  background-color: #edf2ec;
}
.about-service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1007px;
  height: 94px;
  margin-top: 40px;
  margin-left: 109px;
}
.about-service h2 {
  width: 306px;
  height: 94px;
  margin: 0;
  padding: 0;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
}
.button-service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 559px;
  height: 50px;
  margin: 0;
  padding: 0;
}
.button-service button {
  width: 161px;
  height: 50px;
  border: 1px solid #e06733;
  border-radius: 5px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
  padding: 0;
  background-color: #edf2ec;
}
.cards-service {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  width: 1222px;
  height: 955px;
  margin: 0 auto;
  padding: 0;
  margin-top: 90px;
}
.card {
  width: 330px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #e3e1d5;
}
.card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
  text-align: center;
}
.card p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  text-align: center;
}
.prices {
  display: inline-block;
  width: 1440px;
  height: 560px;
  margin: 0 auto;
  padding: 0;
}
.prices-wrapper {
  width: 1222px;
  height: 405px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  margin-top: 40px;
  padding: 0;
}
.price-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 391px;
}
.price-container h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin: 0;
  padding: 0;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 332px;
  height: 282px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.box-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  height: 50px;
  background: #edf2ec;
  border-radius: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}
.text-img-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 50%;
  height: 100%;
}
.text-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 452px;
  height: 191px;
}
.text-price h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: #000000;
  margin: 0;
  padding: 0;
}
.text-price button {
  width: 162px;
  height: 51px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #e06733;
  border: 1px solid #e06733;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
.colortext2 {
  color: #499a18;
}
.text-img-price img {
  width: 175px;
  height: 152px;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1440px;
  height: 550px;
  background-color: #edf2ec;
}
.contact-content {
  display: flex;
  justify-content: space-around;
  width: 1222px;
  height: 497px;
}
.contact-content h2 {
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  margin: 0;
  padding: 0;
}
.contact-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  height: 50px;
  background-color: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
  margin-top: 88px;
  padding-left: 20px;
  padding-right: 35px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1440px;
  height: 130px;
}
.footer-content {
  width: 1222px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.ico-year-git {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  height: 50px;
}
.ico-year-git h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}
.ico-year-git a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  text-decoration: none;
}
.rss h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}
.icos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 188px;
  height: 50px;
}
